<!doctype html>

<html>
<head>
	<title>People's Planner</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/project.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	{{> navbar}}

    <div class="container" >
        <div class="page-header">
            <div class="page-title">Edit Task</div>
        </div>

        <form role="form" id="new-task-form" style="color:#FFFFFF;" data-id="{{id}}">
            <div class="form-group">
                <label for="taskName">Name</label>
                <input type="text" class="form-control" id="taskName" value="{{name}}">
            </div>
            <div class="row">
                <div class="form-group col-xs-6">
                    <label for="startDate">Due Date</label>
                    <input type="date" class="form-control" id="startDate" value ="{{date}}">
                </div>
                <div class="form-group col-xs-6">
                    <label for="startTime">Time</label>
                    <input type="time" class="form-control" id="startTime" value="{{time}}">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-3">
                    <label for="priority">Priority</label>
                     <select id="priority" name="Priority" data-color="{{color}}">
                        <option value="#F21414" style="background:#F21414;">Urgent</option>
                        <option value="#F76C41" style="background:#F76C41;">High</option>
                        <option value="#FCC31F" style="background:#FCC31F;">Medium</option>
                        <option value="#1CA497" style="background:#1CA497;">Low</option>
                      </select>
                </div>
            </div>
            <div class="form-group">
                <label for="Notes">Notes</label>
                <textarea class="form-control" rows="3" id="taskNotes" value="{{notes}}">{{notes}}</textarea>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                       Repeat Task
                    </label>
                </div>
            </div>
            <div class="form-group col-xs-offset-2" id="customOptions" data-option="{{repeat}}">
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="repeatOptions" id="repeatDaily" value="daily">Daily
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="repeatOptions" id="repeatWeekly" value="weekly">Weekly
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="repeatOptions" id="repeatCustom" value="custom">Custom
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox" >
                    <label>
                        <input type="checkbox" id="taskRemind" data-remind="{{remind}}">Remind me
                    </label>
                </div>
            </div>
            <input id="submitbutn" class="btn btn-primary" align="center" type="submit" value="Save">
            <a href="/tasks" class="btn btn-default pull-right" type="button" value="Cancel">Cancel</a>
        </form>

    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script >
        // setting priority
        var color = document.getElementById("priority").getAttribute("data-color");

         if(color == '#F21414'){
               $('#priority option[value=#F21414]').attr('selected', 'selected');
          }
          else if(color == '#F76C41'){
               $('#priority option[value=#F76C41]').attr('selected', 'selected');
          }
          else if(color == '#FCC31F'){
               $('#priority option[value=#FCC31F]').attr('selected', 'selected');
          }
          else if(color == '#1CA497'){
               $('#priority option[value=#1CA497]').attr('selected', 'selected');
          }

        // setting notification checkbox
        var repeat = document.getElementById("customOptions").getAttribute("data-option");
        
        if(repeat == 1) {
           document.getElementById('repeatDaily').checked = true; 
        }
        else if (repeat == 2) {
           document.getElementById('repeatWeekly').checked = true; 
        }
        else if (repeat == 3) {
           document.getElementById('repeatCustom').checked = true; 
        }

        // pre set remind
       var remind = document.getElementById("taskRemind").getAttribute("data-remind");
       if(remind) {
           document.getElementById('taskRemind').checked = true; 
       }
     
        var id = document.getElementById("new-task-form").getAttribute("data-id");

        // new submit, same as new task submit
        $('#new-task-form').submit(function(e) {
        e.preventDefault();
        var rbool = false;
        var repeat = 0;
        var name = $('#new-task-form #taskName').val();
        var date = $('#new-task-form #startDate').val();
        var time = $('#new-task-form #startTime').val();
        var color = $('#new-task-form #priority').val();
        var notes = $('#new-task-form #taskNotes').val();
        //var repeat
        if ($('#new-task-form #taskRemind').is(":checked")) {
              // it is checked
              rbool=true;
        }

        if($('#new-task-form #repeatDaily').is(":checked")) {
            repeat = 1;
        }
        else if($('#new-task-form #repeatWeekly').is(":checked")) {
            repeat = 2;
        }
        else if($('#new-task-form #repeatCustom').is(":checked")) {
            repeat = 3;
        }
 
        var json = {
            'id': id,
            'name': name,
            'date': date,
            'time': time,
            'color': color,
            'notes': notes,
            'repeat': repeat,
            'remind': rbool,
        };

            console.log(json);
        $.post('tasks/edit', json, function(){
            window.location.href = '/tasks';
        });
    });
        
        </script>

    {{> facebook}}
    <script src="/js/facebook.js"></script>
    {{> googleAnalytics}}
</body>
</html>
