<!doctype html>

<html>
<head>
	<title>People's Planner</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/project.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

<!--    <link rel='stylesheet' href='fullcalendar/fullcalendar.css'>
    <script src="/fullcalendar/lib/jquery.min.js"></script>
    <script src="/fullcalendar/lib/moment.min.js"></script>
    <script src="/fullcalendar/fullcalendar.js"></script>
    <script src="/js/eve.js"></script>
-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="navbar-wrapper">
        <div class="container">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" style="text-align: center" href="/">People's<br>Planner
                        </a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right" style="margin-top: 12px; text-align: right">
                        	<li><a href="/">Home</a></li>
                            <li><a href="/calendar">Calendar</a></li>
                            <li><a href="/events">Events</a></li>
                            <li><a href="/tasks">Tasks</a></li>
                            <li><a href="settings">Settings</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

	<div class="container">
		<div class="page-header">
			<div class="row">
				<div class="col-xs-7 page-title">Events</div>
				<div class="col-xs-5 add-label"><a href="/newevent"><img class="img-responsive img-circle" id="add-btn" src="img/add-icon.png"/></a></div>
			</div>
		</div>

        <!-- <div id="events" class="fc" style="color: #1899d6"></div> for temp -->
	</div>

<!-- temporary until fullcalendar/ajax implemented -->
        <div class="container" id="events-container">
        {{#each events}}
        <div class="event-div" id="event{{id}}" style="color:{{taskColor}}; 
    border-color: {{taskColor}};" >
            <div class="event-name">{{taskName}}
                <div class="removebtnEvent">
                    <button type="button" class="btn btn-round" style="background-color:transparent; color:{{taskColor}};" id="remove{{id}}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>

                <div class="editbtnEvent">
                    <button type="button" class="btn btn-round" style="background-color:transparent; color:{{taskColor}};" id="edit{{id}}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </div>

            </div>
            
            <div class="event-due">Date <strong>{{startDate}}</strong> through <strong>{{endDate}}</strong> at Time <strong>{{startTime}}</strong> through <strong>{{endTime}}</strong></div>
            <div class="event-notes" id="taskNotes{{id}}">{{taskNotes}}</div>
        </div>
        {{/each}}
    </div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
<!--    <script src="/fullcalendar/lib/jquery.min.js"></script>
    <script src="/fullcalendar/lib/moment.min.js"></script>
    <script src="/fullcalendar/fullcalendar.js"></script>
-->
    <!-- also added -->
    <script>
        $(document).ready(function(){
            $('.event-div').click(function(){
                var eventID = $(this).closest('.event-div').attr('id');

                var idNumber = eventID.substr('event'.length);
                var taskNotes = '#taskNotes' + idNumber;

                $(taskNotes).slideToggle("fast");

            });

            $(".event-notes").hide();

            $('.removebtnEvent').click(function(){
                var eventID = $(this).closest('.event-div').attr('id');

                var idNumber = eventID.substr('event'.length);

                $.post('/events/'+idNumber+'/delete', function() {
                   window.location.href = '/events';
                });

            });

            $('.editbtnEvent').click(function() {
                 $.post('/events/'+idNumber+'/delete', function() {
                    window.location.href = '/events';
                });
            });
        });
    </script>
    
    {{> facebook}}
    <script src="/js/facebook.js"></script>
    {{> googleAnalytics}}
</body>
</html>
