<!doctype html>

<html>
<head>
	<title>People's Planner</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/project.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="navbar-wrapper">
        <div class="container">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" style="text-align: center" href="/">People's<br>Planner
                        </a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right" style="margin-top: 12px; text-align: right">
                        	<li><a href="/">Home</a></li>
                            {{#each nav-link}}
                                <li><a href="{{link}}">{{text}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

	<div class="settings-profile" >
			<figure align="center">
				<img class="img-circle" id="profile-picture" src="img/default.png"/>
			</figure>
		</div>

	<div class="container settings">
		<ul align="center">
			<li><button id="notif-toggle">Notifications</button></li>
			<li class="toggle-li">Email</li>
			<li class="toggle-li">Text</li>
			{{#each settings-list}}
			<li>
				<a href="/{{link}}">{{caption}}</a>
			</li>
			{{/each}}

		</ul>
	</div>
<!--
	<div id="settings-nav">
		
				<ul class="list-group">
					
						 <li>
							<a href="/{{link}}">
							{{caption}}
							</a>
						</li>
						<li>
							<a href="/{{link}}">
							{{caption}}
							</a>
						</li>
				</ul>


	</div> -->

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("button").click(function(){
        $('.toggle-li').toggle();
    });
});
</script>

</body>
</html>
