<!doctype html>

<html>
<head>
	<title>People's Planner</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/project.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="navbar-wrapper">
        <div class="container">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" style="text-align: center"href="/">People's<br>Planner
                        </a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right" style="margin-top: 12px; text-align: right">
                            <li><a href="/">Home</a></li>
                            <li><a href="/calendar">Calendar</a></li>
                            <li><a href="/events">Events</a></li>
                            <li><a href="/tasks">Tasks</a></li>
                            <li><a href="settings">Settings</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

	<div class="container">
		<div class="page-header">
			<div class="row">
				<div class="col-xs-7 page-title">Tasks</div>
                <div class="col-xs-5 add-label"><a href="/newtask"><img class="img-responsive img-circle" id="add-btn" src="img/add-icon.png"/></a></div>
			</div>
		</div>
	</div>

    <div class="container" id="tasks-container">
        {{#each tasks}}
        <div class="task-div" id="task{{id}}" style="border-color: {{color}};" >
            <div class="main-task" style="color:{{color}};"> <div class="task-name" >{{name}}</div>
                <div class="removebtn">
                    <button type="button" class="btn btn-round" style="background-color:transparent; color:{{color}};" id="remove{{id}}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>

                <div class="editbtn">
                    <button type="button" class="btn btn-round" style="background-color:transparent; color:{{color}};" id="edit{{id}}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </div>

            </div>
            
            <div class="task-due">Due on <strong>{{date}}</strong> at <strong>{{time}}</strong></div>
            <div class="task-notes" id="notes{{id}}">{{notes}}</div>
        </div>
        {{/each}}
    </div>

    
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script >
        $(document).ready(function(){
            $('.task-div').click(function(){
                var taskID = $(this).closest('.task-div').attr('id');

                var idNumber = taskID.substr('task'.length);
                var notes = '#notes'+idNumber;

                $(notes).slideToggle("fast");
            });

            $(".task-notes").hide();

            $('.removebtn').click(function(){
                var taskID = $(this).closest('.task-div').attr('id');

                var idNumber = taskID.substr('task'.length);

                $.post('/tasks/'+idNumber+'/delete', function() {
                    window.location.href = '/tasks';
                });

            });

            $('.editbtn').click(function() {
                var taskID = $(this).closest('.task-div').attr('id');
                var idNumber = taskID.substr('task'.length);
                console.log(taskID);
                console.log(idNumber);

                $.post('/edittask/'+idNumber, {id : idNumber} , function(){
                        window.location.href = '/edittask';
                });
            });

            function changeFunction (value){
                var taskID = $(this).closest('.task-div').attr('id');

                var idNumber = taskID.substr('task'.length);

                $.post('/tasks'+idNumber+'/namechange',{id : idNumber, name: value}, function(){

                });
            }
        });
    </script>

    {{> facebook}}
    <script src="/js/facebook.js"></script>
    {{> googleAnalytics}}
</body>
</html>
