<!doctype html>

<html>
<head>
	<title>People Planner</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/project.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	{{> navbar}}

	<div class="container">
		<div class="page-header">
			<div class="row">
				<div class="col-xs-7 page-title">Tasks</div>
               <div class="col-xs-5 add-label"><a data-toggle="modal" data-target="#newTaskModal" href="#"><img class="img-responsive img-circle" id="add-btn" src="img/add-icon.png"/></a></div>
			</div>
		</div>
	</div>
<!--
    <div class="container" id="tasks-container">
        {{#each tasks}}
        <div class="task-div" id="task{{id}}" style="border-color: {{color}};" >
            <div class="main-task" style="color:{{color}};"> <div class="task-name" style="width: 50%; display: inline-block;">{{name}}</div>
                <div class="removebtn">
                    <button type="button" class="btn btn-round" style="background-color:transparent; color:{{color}};" id="remove{{id}}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>

                <div class="editbtn">
                    <button type="button" class="btn btn-round" style="background-color:transparent; color:{{color}};" id="edit{{id}}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </div>

            </div>
            
            <div class="task-due">Due on <strong>{{date}}</strong> at <strong>{{time}}</strong></div>
            <div class="task-notes" id="notes{{id}}">{{notes}}</div>
        </div>
        {{/each}}
    </div> -->

<div class="container" id="todayTasks"> </div>
<div class="container" id="futureTasks"></div>
<div class="container" id="pastTasks"></div>

<div class="modal fade" id="newTaskModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">New Task</h4>
                </div>

                <div class="modal-body">
                    <form role="form" id="new-task-form" style="color:#000000;">
                        <div class="form-group">
                            <label for="taskName">Name</label>
                            <input type="text" class="form-control" id="taskName">
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <label for="startDate">Due Date</label>
                                <input type="date" class="form-control" id="startDate">
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="startTime">Time</label>
                                <input type="time" class="form-control" id="startTime">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-3">
                                <label for="priority">Priority</label>
                                <select id="priority" name="Priority">
                                    <option value="#F21414" style="background:#F21414">Urgent</option>
                                    <option value="#F76C41" style="background:#F76C41">High</option>
                                    <option value="#FCC31F" style="background:#FCC31F">Medium</option>
                                    <option value="#1CA497" style="background:#1CA497">Low</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Notes">Notes</label>
                            <textarea class="form-control" rows="3" id="taskNotes"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label style="color: #000000;">
                                    Repeat Task
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-xs-offset-2" id="customOptions">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="repeatOptions" id="repeatDaily" value="daily">Daily
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="repeatOptions" id="repeatWeekly" value="weekly">Weekly
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="repeatOptions" id="repeatCustom" value="custom">Custom
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label style="color: #000000;">
                                    <input type="checkbox" id="taskRemind" >Remind me
                                </label>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="float:left">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="submitBtnTasks">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



<div class="modal fade" id="editTaskModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit Task</h4>
                </div>

                <div class="modal-body">
                    <form role="form" id="edit-task-form" style="color:#000000;" >
                        <div class="form-group">
                            <label for="taskName">Name</label>
                            <input type="text" class="form-control" id="taskName">
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <label for="startDate">Due Date</label>
                                <input type="date" class="form-control" id="startDate">
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="startTime">Time</label>
                                <input type="time" class="form-control" id="startTime">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-3">
                                <label for="priority">Priority</label>
                                <select id="editpriority" name="Priority">
                                    <option value="#F21414" style="background:#F21414">Urgent</option>
                                    <option value="#F76C41" style="background:#F76C41">High</option>
                                    <option value="#FCC31F" style="background:#FCC31F">Medium</option>
                                    <option value="#1CA497" style="background:#1CA497">Low</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Notes">Notes</label>
                            <textarea class="form-control" rows="3" id="taskNotes"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label style="color: #000000;">
                                    Repeat Task
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-xs-offset-2" id="editcustomOptions">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="repeatOptions" id="repeatDaily" value="daily">Daily
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="repeatOptions" id="repeatWeekly" value="weekly">Weekly
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="repeatOptions" id="repeatCustom" value="custom">Custom
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label style="color: #000000;">
                                    <input type="checkbox" id="taskRemind" >Remind me
                                </label>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="float:left">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="editBtnTasks">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/tasks.js"></script>
    {{> facebook}}
    <script src="/js/facebook.js"></script>
    {{> googleAnalytics}}
</body>
</html>
